<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage - Jijicart</title>
</head>
<body>

<h1>Welcome to Jijicart</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolorum itaque maiores numquam possimus. Accusantium aut commodi corporis cupiditate, doloribus ea fuga inventore ipsum labore laudantium perferendis quis ratione repudiandae.</span><span>A ad deleniti doloribus eius, excepturi inventore ipsum molestias mollitia nisi quam quibusdam quisquam ratione recusandae velit voluptates? Dolor dolores doloribus error odit porro provident quis saepe sit suscipit voluptas?</span><span>Aliquam assumenda atque blanditiis commodi consequuntur laboriosam nam neque nobis numquam optio, perspiciatis quaerat, qui repellat! Facere, non, voluptatum. Aperiam dolorem eos error incidunt modi quae, repudiandae rerum sed temporibus.</span></p>
<button> Shop Now!</button>

</body>
</html>