<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>


</head>
<body>
    
    <h1 class="text-center">Our Services</h1>
    <a href="{% url 'index' %}">Homepage</a>
    <a href="{% url 'gallery' %}">Gallery page</a>



    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatum nulla reiciendis nobis velit! Perspiciatis praesentium eveniet rerum, nihil facilis quasi unde voluptatibus autem, distinctio, hic provident error est. Autem.
    Suscipit, dignissimos in nesciunt labore pariatur, officiis omnis sapiente earum ducimus temporibus alias eligendi voluptate. Ratione magni reprehenderit repudiandae quis natus dolores odio? Adipisci sit inventore, dolores quasi voluptas ipsa?
    Debitis, dolore ea tempora facere aliquam laboriosam vitae eum recusandae impedit porro laborum ducimus sunt ipsum vero beatae cum explicabo illo tempore, officiis ut ex saepe aspernatur cumque earum. Consequatur?
    A magnam odit placeat corporis ex quod culpa eum. Nisi praesentium exercitationem eaque, voluptate non blanditiis ex iusto ipsa tenetur quasi perferendis itaque autem debitis dicta repellat. Aperiam, tenetur unde.</p>

    <button class="btn btn-primary">Get Started</button>
</body>
</html>