h1{
    text-align : center;
    text-decoration-color: aquamarine;
    text-decoration: underline;
    font-weight: bold;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 20px;
}